/*-----------fonts & variables-----------*/


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 2rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}


h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

p {

    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue);
}

form {
    font-family: 'Montserrat', sans-serif;
}

ul {
    font-family: 'Montserrat', sans-serif;
}

input {
    margin-top: 1rem;
}



:root {
    --light-blue: #4d9cd0;
    --blue: #0E7DC7;
    --dark-blue: #052D47;
    --background: #ffffff;
    --link-color: #052D47;
    --button-color: #0E7DC7;
    --footer: #052D47;
    --transparent-blue: rgba(14, 125, 199, 0.51);
}

button {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--button-color);
    border: none;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #052D47;
}

/*-------------Generelt & common styling----------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hide {
    transform: translateX(100%);
    opacity: 0;
    /*Placerer element 100% til højre så det er "skjult"*/
}

img {
    width: 100%;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}


/*------Burgermenu-----*/



#logo {
    width: 230px;
    height: 34.85px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 300;
    position: fixed;
    cursor: pointer;
    top: 0;
    background-color: #ffffff;


}


header {
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 500;
    height: 90px;
    width: 100%;
    position: fixed;
}

#burgermenu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 40;
    padding: 7rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue);
    height: 100vh;



}


#menuknap {
    display: inline-block;
    z-index: 100;
    font-size: 2.3rem;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    padding: 0.5rem;
    cursor: pointer;
    color: #ffffff;
}

/*#menuknap:hover {
    background-color: var(--blue);
}*/


header nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.65rem;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    line-height: 5rem;
    font-weight: lighter;
    letter-spacing: 0.12rem;
    text-transform: uppercase;

}



nav li {
    list-style-type: none;
    text-align: right;
}




nav#dropdown_nav {
    display: none;

}

li.filter {
    display: none;
}


/*------Burgermenu Animation-----*/


@media screen and (min-width:950px) {
    #menuknap {
        display: none;
    }

    #burgermenu.hide {
        transform: translateX(0);
        opacity: 1;
        /*placer menuen normalt*/
    }

    #burgermenu li {
        display: inline-block;
        margin-top: 0;
        padding-top: 0;
        /**/
        /*lad menuen være vandret*/

    }

    .valgt {
        background-color: var(--dark-blue);
    }

    #burgermenu {
        justify-content: flex-end;
        background-color: #ffffff;
        position: fixed;
        width: 100vw;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        height: 70px;

    }

    header {
        z-index: 100;
        height: 50px;
        background-color: transparent;
    }


    #hovedmenu a {
        margin: 0 1rem;
        margin-top: 0;
        font-size: 1rem;
        text-align: center;
        color: var(--dark-blue);
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        letter-spacing: 0.12rem;
        text-transform: uppercase;
        position: relative;
        line-height: 0;


    }



    #hovedmenu a::after {

        background-color: var(--blue);
        content: "";
        width: 0;
        height: 1.5px;
        left: 0;
        bottom: 0;
        transition: width 0.35s ease 0s;
        position: absolute;
    }

    #hovedmenu a:hover::after {
        width: 100%;
    }

}



header nav {
    overflow: hidden;
}


}

.dropdown b {
    font-size: 3rem;
}

.dropdown #dropdownbtn {
    background-color: inherit;

}


#dropdown_nav {
    display: none;
    position: absolute;
    background-color: var(--transparent-blue);
    line-height: 2rem;
    top: 4vw;





}


.dropdown-content a:hover {
    background-color: #f0f0f0;

}

.dropdown:hover #dropdown_nav {
    display: block;

    /*vis indholdet af dropdown når der bliver hoveret*/
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}

.dropdown-content {
    padding: 0;
    padding-top: 13px;
}


.dropdown-content li {
    padding: 20px;
    text-align: left;
    width: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    color: white;
}

.dropdown-content li:hover {
    background-color: var(--blue);
    cursor: pointer;

}

i {
    border: solid var(--dark-blue);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 4px;
    margin-left: 7px;

}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*------------FOOTER----------------*/
footer {
    background-color: var(--dark-blue);
    height: 25vh;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    flex-wrap: wrap;
    margin-bottom: 0;

}

footer p {
    white-space: pre-wrap;
}

.email {
    padding: 0;
    margin-top: 0;
}

.tlf {
    margin-bottom: 0;
}
