/*-----------fonts & variables-----------*/


h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 2rem;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue);
}

form {
    font-family: 'Montserrat', sans-serif;
}

ul {
    font-family: 'Montserrat', sans-serif;
}

input {
    margin-top: 1rem;
}



:root {
    --light-blue: #4d9cd0;
    --blue: #0E7DC7;
    --dark-blue: #052D47;
    --background: #ffffff;
    --link-color: #052D47;
    --button-color: #0E7DC7;
    --footer: #052D47;
}

button {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--button-color);
    border: none;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #052D47;
}

/*-------------Generelt & common styling----------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hide {
    transform: translateX(100%);
    opacity: 0;
    /*Placerer element 100% til højre så det er "skjult"*/
}

img {
    width: 100%;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}


/*------Burgermenu-----*/



#logo {
    width: 230px;
    height: 34.85px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 300;
    position: fixed;
    cursor: pointer;
    top: 0;
    background-color: #ffffff;


}


header {
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 500;
    height: 90px;
    width: 100%;
    position: fixed;
}

#burgermenu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 40;
    padding: 7rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    height: 100vh;


}


#menuknap {
    display: inline-block;
    z-index: 100;
    font-size: 2.3rem;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    padding: 0.5rem;
    cursor: pointer;
    color: #ffffff;
}

/*#menuknap:hover {
    background-color: var(--blue);
}*/


header nav a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    line-height: 3rem;
}

header nav a:hover {
    color: var(--light-blue);
    text-decoration: none;
}

nav li {
    list-style-type: none;
}




nav#dropdown_nav {
    display: none;

}

li.filter {
    display: none;
}

@media screen and (min-width:950px) {
    #menuknap {
        display: none;
    }

    #burgermenu.hide {
        transform: translateX(0);
        opacity: 1;
        /*placer menuen normalt*/
    }

    #burgermenu li {
        display: inline-block;
        /*lad menuen være vandret*/

    }

    .valgt {
        background-color: var(--dark-blue);
    }

    #burgermenu {
        justify-content: flex-end;
        background-color: #ffffff;
        position: fixed;
        width: 100vw;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        height: 70px;

    }

    header {
        z-index: 100;
        height: 50px;
        background-color: transparent;
    }


    #hovedmenu a {
        margin: 0 1rem;
        font-size: 1.2rem;
        text-align: center;
        color: var(--dark-blue);
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }

    header nav {
        overflow: hidden;
    }


}



.dropdown #dropdownbtn {
    background-color: inherit;

}


#dropdown_nav {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);


}


.dropdown-content a:hover {
    background-color: #f0f0f0;

}

.dropdown:hover #dropdown_nav {
    display: block;

    /*vis indholdet af dropdown når der bliver hoveret*/
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}

.dropdown-content {
    padding: 0;
}

.dropdown-content li {
    padding: 20px;
    text-align: left;
    width: 100%;
}

.dropdown-content li:hover {
    background-color: #e1e1e1e1;
    cursor: pointer;
}

/*------------FOOTER----------------*/
footer {
    background-color: var(--dark-blue);
    height: 25vh;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    flex-wrap: wrap;
    margin-bottom: 0;

}

footer p {
    white-space: pre-wrap;
}

.email {
    padding: 0;
    margin-top: 0;
}

.tlf {
    margin-bottom: 0;
}
